.products{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products ul {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            250px,
            1fr
        )
    );
    gap: 1rem;
}

.products ul li {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
   .products ul{
        padding: 1rem;
       }
 }