.App {
    text-align: center;
    background-color: lightsteelblue;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
    margin: 1rem;
}

.data-line {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.data .data-line input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
}